<div class="container-fluid bg-light">
  <div class="row">
      <div class="col-3">
          <app-menulateral></app-menulateral>
      </div>
      <div class="col-9" style="margin-top: 90px;">
          <app-cabecera></app-cabecera>
          <h1 class="text-center color-gold"> <i class="fa-solid fa-chalkboard-user m-1"> </i> Profesores </h1>
          <table class="table bg-user">
              <thead>
                <tr>

                  <th scope="col" class="color-gold">Acciones</th>
                  <th scope="col" class="color-gold">Nombres</th>
                  <th scope="col" class="color-gold">Email</th>
                  <th scope="col" class="color-gold">Teléfono</th>
                  <th scope="col" class="color-gold">Perfil</th>
                  <th scope="col" class="color-gold">Estado</th>
                  <th scope="col" class="color-gold">Password</th>
                  <th scope="col" class="color-gold"><button type="button" class="btn bg-gold" routerLink="/AdminProfesor/0"><i
                    class="fa-solid fa-folder-plus color-morado"></i></button></th>
              </thead>
              <tbody>
                <tr *ngFor="let pro of Profesores">
                  <td class="text-table">
                    <div class="btn-group" role="group" aria-label="Basic example">


                      <span tooltip="Editar" placement="top" [hide-delay]="0" class="m-1">
                        <button type="button" class="btn btn-warning" routerLink="/AdminProfesor/{{pro.pro_id}}"><i
                          class="fa-solid fa-pen-to-square color-morado"></i></button>
                      </span>


                      <span tooltip="Eliminar" placement="top" [hide-delay]="0" class="m-1">
                        <button type="button" class="btn btn-danger color-morado" data-toggle="modal"
                        [attr.data-target]="'#staticBackdrop'+pro.pro_id">
                        <i class="fa-solid fa-trash color-morado"></i>
                      </button>
                      </span>


                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop{{pro.pro_id}}" data-backdrop="static" tabindex="-1" role="dialog"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content bg-color color-gold">
                            <div class="modal-header text-center">
                              <h3 class="modal-title" id="staticBackdropLabel">Mensaje de confirmación</h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              ¿Esta seguro de eliminar profesor {{pro.pro_nombres}} {{pro.pro_apellidos}}?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn bg-gold color-morado" data-dismiss="modal"
                                (click)="eliminarprofesor(pro.pro_id)"><i class="fa-solid fa-check-double"></i>
                                Confirmar</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </td>
                  <td class="text-table"> {{pro.pro_nombres}} {{pro.pro_apellidos}}</td>
                  <td class="text-table">{{ pro.pro_email }}</td>
                  <td class="text-table">{{pro.pro_telefono}}</td>
                  <td class="text-table">PROFESOR</td>
                  <td class="text-table">{{estado(pro.pro_estado)}}</td>
                  <td class="text-table">{{pro.pro_textoclaro}}</td>

                </tr>

                </tbody>
            </table>
      </div>
  </div>
</div>
