<div class="info">
    <p class="text-center m-3 p-3 title color-morado"><img src="../../../assets/img/logo.png" style="width:40px; height:40px" alt=""> UNIPDEI ANDINA</p>
</div>
<div class="list-group">
    <a routerLink="/AdminCarreras" class="list-group-item list-group-item-action text-center  color-morado lin-gold bg-gold"><strong><i class="fa-solid fa-building-columns m-1"></i> Carreras</strong></a>
    <a routerLink="/AdminCursos" class="list-group-item list-group-item-action text-center  color-morado lin-gold bg-gold"><i class="fa-solid fa-school m-1"></i> Cursos</a>
    <a routerLink="/AdminDiplomados" class="list-group-item list-group-item-action text-center  color-morado lin-gold bg-gold"><i class="fa-solid fa-book-bookmark m-1"></i>Diplomados</a>
    <a routerLink="/AdminUsuarios" class="list-group-item list-group-item-action text-center  color-morado lin-gold bg-gold"><i class="fa-solid fa-users m-1"></i>Usuarios</a>
    <a routerLink="/AdminProfesores" class="list-group-item list-group-item-action text-center  color-morado lin-gold bg-gold"><i class="fa-solid fa-chalkboard-user m-1"></i>Profesores</a>
    <a routerLink="/AdminAlumnos/0" class="list-group-item list-group-item-action text-center  color-morado lin-gold bg-gold"><i class="fa-solid fa-school m-1"></i>Alumnos</a>
    <a (click)="getOut()" class="list-group-item list-group-item-action text-center  color-danger lin-gold bg-cerrar"><i class="fa-solid fa-school m-1"></i>Cerrar sesiòn</a>

  </div>
