#content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/img/fondo_profe.jpg');

    width: 100%;
    height: 100%;
    text-align: center;
    position:absolute;
    margin-top: 40px
}

#title{
  margin-top: 20px !important;
}
