
<div class="row justify-content-md-center" id="content">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="row">
        <app-cabecera></app-cabecera>
    </div>

        <div class="new">
            <ng-container id="content">
              <h2 class="text-center text-light m-2">
                <span tooltip="Ir a examenes" placement="top" [hide-delay]="0" class="m-1">
                  <button type="button" class="btn btn-warning m-1"  [routerLink]="['/Examenes/' + this.tipo_prog + '/' + this.profesor+ '/' + this.programa]"><i
                    class="fa-solid fa-circle-arrow-left color-morado"></i></button>
                </span> Examen</h2>

                <form [formGroup]="frmClasCreator" class="m-5 border p-5" (ngSubmit)="crearExamen()">
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="form-label col-sm-2 text-light">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control m-1" formControlName="nombre" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="form-label col-sm-2 text-light">Descripción</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control m-1" formControlName="descrip"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="form-label col-sm-2 text-light">Fecha Inicio</label>
                        <div class="col-sm-10">
                          <input type="date"  id="fechafin" class="form-control m-1" formControlName="fechaini"  (change)="fechaini($event)"/>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputEmail1" class="form-label col-sm-2 text-light">Fecha Fin</label>
                      <div class="col-sm-10">

                          <input type="date"  id="fechafin" class="form-control m-1" formControlName="fechafin"  (change)="fechafin($event)"/>
                      </div>
                  </div>

                  <div class="form-group row" >
                    <label for="exampleInputEmail1" class="form-label col-sm-2 text-light"># de preguntas</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control m-1" formControlName="numpreg"/>
                    </div>

                </div>



                <div class="form-group row" >
                  <label for="exampleInputEmail1" class="form-label col-sm-2 text-light"># de preguntas para aprobar</label>
                  <div class="col-sm-10">
                      <input type="number" class="form-control m-1" formControlName="numpregaprob"/>
                  </div>

              </div>


              <div class="form-group row">
                <label for="exampleInputEmail1" class="form-label col-sm-2 text-light">Duración del examen(Min)</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control " formControlName="duracion"/>
                </div>

            </div>

            <div class="form-group row" >
              <label for="exampleInputEmail1" class="form-label col-sm-2 text-light">Tipo de examen</label>
              <div class="col-sm-10">
              <select class="form-control" formControlName="tipo_examen">
                  <option value="1">Examen regular</option>
                  <option value="2">Examen de recuperaciòn</option>

              </select>
            </div>
          </div>



                    <div class="alert alert-warning" *ngIf="sucess" role="alert">
                        <p class="text-dark text-center"> {{ mensaje }} </p>
                    </div>

                    <button type="submit"  *ngIf="frmClasCreator.valid" class="btn btn-danger btn-block">Guardar</button>
                </form>
            </ng-container>
        </div>
    </div>
</div>
