.img-top{
    height: 30px;
    width: 30px;
    margin-left: 30px;
}

.tile-color{
    color: #D4AF37 !important;
}

.linea{
   
    color: #D4AF37;
}

section{
    background-color: #1d1d1d !important;
}

