<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-center justify-content-md-between">

    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-phone d-flex align-items-center"><span><strong>(+54 9)-0381 4210745</strong></span>  <img src="../../../assets/img/argentina.ico" class="img-top"><strong>Lunes a viernes de: 9 hs. a 13 hs.  y  18 hs. a 21 hs.</strong></i>
    </div>

    <div class="languages d-none d-md-flex align-items-center">
      <ul>
        <li>Universidad Popular de Desarrollo e Innovación </li>
      </ul>
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">


    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#objetivo">Objetivo</a></li>
        <li><a class="nav-link scrollto" href="#equipo">Nuestro equipo</a></li>
        <li><a class="nav-link scrollto" href="#programas">Programas</a></li>
        <li><a class="nav-link scrollto" href="#mision">Misión</a></li>
        <li><a class="nav-link scrollto" href="#galeria">Galeria</a></li>
        <li><a class="nav-link scrollto" href="#contacto">Contacto</a></li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <a  [routerLink]="['/login']" class="book-a-table-btn scrollto d-none d-lg-flex">Ingreso</a>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Bienvenidos a <span>UNIPDEI</span></h1>
        <h2>Universidad Popular de Desarrollo e Innovación</h2>

        <div class="btns">
          <a [routerLink]="['/login']" class="btn-menu animated fadeInUp scrollto">Ingresar</a>
          <a href="#programas" class="btn-book animated fadeInUp scrollto">Todos nuestros programas</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="objetivo" class="objetivo">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div >
            <img class="img-fluid" src="assets/img/home_objetivo.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 100px !important;">
          <h3 class="text-center color-gold">OBJETIVO</h3>
          <p class="fst-italic">
            Conformar propuestas académicas de educación tanto de capacitación y formación según lo establece las normas legales vigentes del sistema de educación, como así también en la creación de instituciones que posibiliten el desarrollo y potencial social, educativo y cultural, concibiendo la concepción principal en la construcción de argumentos válidos para la valoración de la persona, de la sociedad, en sus aspectos más amplios de integración y creatividad
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="equipo" class="objetivo">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h1 class="tile-color">Nuestro equipo</h1>
        <hr class="linea">
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">

            <h4 class="tile-color">RECTORA:</h4>
            <p>Lic. Marcela Claudia Alejandra Sanchez</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <h4 class="tile-color">VICE RECTORA</h4>
            <p>Lic. Angela del Rosario Lo Sardo</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <h4 class="tile-color">DIRECTOR ACADEMICO</h4>
            <p>Lic. Walter Bravo</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <h4 class="tile-color">SECRETARIO</h4>
            <p>Lic. Gerardo Calderón</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <h4 class="tile-color">TESORERO</h4>
            <p>Tec. Luis Adrián Olea </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Menu Section ======= -->
  <section id="programas" name="programas" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <p>PROGRAMAS</p>
        <a href="" style="color: #D4AF37;">TODOS NUESTROS PROGRAMAS</a>
      </div>


      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/curso.png" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Psicología del deporte</a>
          </div>
          <div class="menu-ingredients">
            El foco puede estar sobre el comportamiento o sobre dimensiones psicológicas de la conducta humana, es decir sobre lo afectivo, cognitivo, motivacional o dimensiones sensorio motoras
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/curso.png" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Psicología del deporte</a>
          </div>
          <div class="menu-ingredients">
            El foco puede estar sobre el comportamiento o sobre dimensiones psicológicas de la conducta humana, es decir sobre lo afectivo, cognitivo, motivacional o dimensiones sensorio motoras
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/curso.png" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Psicología del deporte</a>
          </div>
          <div class="menu-ingredients">
            El foco puede estar sobre el comportamiento o sobre dimensiones psicológicas de la conducta humana, es decir sobre lo afectivo, cognitivo, motivacional o dimensiones sensorio motoras
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/curso.png" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Psicología del deporte</a>
          </div>
          <div class="menu-ingredients">
            El foco puede estar sobre el comportamiento o sobre dimensiones psicológicas de la conducta humana, es decir sobre lo afectivo, cognitivo, motivacional o dimensiones sensorio motoras
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/curso.png" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Psicología del deporte</a>
          </div>
          <div class="menu-ingredients">
            El foco puede estar sobre el comportamiento o sobre dimensiones psicológicas de la conducta humana, es decir sobre lo afectivo, cognitivo, motivacional o dimensiones sensorio motoras
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/curso.png" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Psicología del deporte</a>
          </div>
          <div class="menu-ingredients">
            El foco puede estar sobre el comportamiento o sobre dimensiones psicológicas de la conducta humana, es decir sobre lo afectivo, cognitivo, motivacional o dimensiones sensorio motoras
          </div>
        </div>



      </div>
    </div>
  </section><!-- End Menu Section -->




  <!-- ======= Specials Section ======= -->
  <section id="mision" class="specials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <p>Misión y visión</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">

                  <p class="fst-italic">Nuestra misión y visión como institución educativa, es procurar un espacio de encuentro para generar propuestas en materia educativa, cultural y social, que nos permita contribuir al desarrollo tanto en el ámbito individual como de la sociedad en su conjunto.
                    Esta Universidad Popular fue concebida desde su creación para amalgamar propuestas académicas pragmáticas que involucra a todos los actores de la sociedad para trabajar en conjunto con las temáticas más importantes y relevantes.
                    La Universidad Popular de Desarrollo e Innovación – UNIPDEI, abre sus puertas para que podamos realizar tareas que sustenten actividades educativas, culturales y sociales, no tanto solo en nuestro pais sino también y teniendo  una mira de integración y abarcativa en lo regional, concibiendo la idea de Latinoamerica como el macro escenario de nuestras posibilidades de acción y concreción de espacios.
                    UNIPDEI es una Universidad Popular y como tal concentra disimiles ideas, propuestas, ideologías, siempre teniendo en cuenta a la Educación y Cultura como movimientos transformadores que fortalecen a los pueblos otorgándole independencia de pensamiento y argumentos de libertad propicios para elevar la calidad de vida de las personas y de la sociedad.
                    En esta propuesta de una Universidad Popular nos impulsa a llevar adelante criterios de confianza y firmeza para potenciar los valores sustanciales de la sociedad y de su pueblo al cual pertenece con el fin de una educación plena de la persona y la difusión del saber mediante programas culturales y sociales.
              </p>
                  </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-1.jpg" alt="" class="img-fluid rounded-circle">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->






  <!-- ======= Gallery Section ======= -->
  <section id="galeria" class="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Conocenos</h2>
        <p>Galeria de fotos</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/galeria1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/galeria1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/galeria1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/galeria1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/galeria1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/galeria1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/galeria1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/galeria1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/galeria1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/galeria1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/galeria1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/galeria1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/galeria1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/galeria1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/galeria1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/galeria1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Gallery Section -->
  <!-- ======= Book A Table Section ======= -->
  <section id="contacto" class="book-a-table">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Envianos tu mensaje</h2>
        <p>Contacto</p>
      </div>

      <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Book a Table</button></div>
      </form>

    </div>
  </section><!-- End Book A Table Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3> UNIPDEI ANDINA</h3>
            <p>
              <strong>Teléfono:</strong>(+54 9)-0381 4210745<br>
              <strong>Correo:</strong> rectorado@unipdei.com - secretaria@unipdei.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Inicio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#objetivo">Objetivo</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#equipo">Nuestro equipo</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#programas">Programas</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#mision">Misión</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#galeria">Galeria</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#contacto">Contacto</a></li>

          </ul>
        </div>


        <div class="col-lg-4 col-md-6 footer-newsletter">
          <a href="#" class="book-a-table-btn scrollto d-none d-lg-flex text-center">Ingreso</a>
        </div>

      </div>
    </div>
  </div>



  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>UNIPDEI</span></strong>. All Rights Reserved
    </div>

  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<script src="assets/js/main.js"></script>
