<div id="topbar" class="d-flex align-items-center fixed-top bg-gold" style="background-color: rgb(136, 136, 136);">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center" >

        <i class="bi bi-phone d-flex align-items-center"><span>(+54 9)-0381 4210745</span>  <img src="../../../assets/img/argentina.ico" style="height:40px; width:40px;" class="img-top">Lunes a viernes de: 9 hs. a 13 hs.  y  18 hs. a 21 hs.</i>
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>Universidad Popular de Desarrollo e Innovación</li>
          <li (click)="getOut()" id="cerrar"><strong><i class="fa-solid fa-door-open"></i> Cerrar sesión</strong></li>
        </ul>
      </div>
    </div>
  </div>
