


  <div class="row">
    <app-cabecera></app-cabecera>
</div>
<div class="row justify-content-md-center" id="content">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <ng-container id="content">

      <h2 class="text-center text-light m-2"  *ngIf="this.tipo_doc == 1">
        <span tooltip="Ir a inicio" placement="top" [hide-delay]="0" class="m-1" [routerLink]="['/Programasprf/' +  + this.tipo_prog + '/' + this.profesor + '/' + this.user.usu_perfil]">
          <button type="button" class="btn btn-warning m-1" ><i
            class="fa-solid fa-circle-arrow-left color-morado"></i></button>
        </span> Documentación de apoyo</h2>

        <h2 class="text-center text-light m-2"  *ngIf="this.tipo_doc == 2">
          <span tooltip="Ir a inicio" placement="top" [hide-delay]="0" class="m-1" [routerLink]="['/Programasprf/' +  + this.tipo_prog + '/' + this.profesor + '/' + this.user.usu_perfil]">
            <button type="button" class="btn btn-warning m-1" ><i
              class="fa-solid fa-circle-arrow-left color-morado"></i></button>
          </span> Mis trabajos</h2>

      <table class="table table-sm table-bordered text-ligh">


        <thead class="table-dark">
          <tr class="text-center">
            <th *ngIf="this.tipo_edit ==1">

              <button *ngIf="this.tipo_doc == 1" type="button" class="btn btn-danger btn-sm" (click)="nuevoTrabajo(0,this.tipo_prog,this.profesor,this.programa,0,this.tipo_doc)">Nuevo
                Documento</button>

                <button *ngIf="this.tipo_doc == 2" type="button" class="btn btn-danger btn-sm" (click)="nuevoTrabajo(0,this.tipo_prog,this.profesor,this.programa,0,this.tipo_doc)">Nuevo
                  Trabajo</button>
            </th>

            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Profesor</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Archivo</th>

          </tr>
        </thead>
        <tbody>

          <tr class="text-center text-white" *ngFor="let tra of trabajos index as i;">
            <td *ngIf="this.tipo_edit==1">
              <button type="button" class="btn btn-danger btn-sm m-1
              " (click)="eliminarTrabajo(tra.id,this.tipo_prog,this.profesor,this.programa)">
      <i class="fas fa-trash-alt"></i>
    </button>
    <button type="button" class="btn btn-success btn-sm" (click)="nuevoTrabajo(tra.id,this.tipo_prog,this.profesor,this.programa,1,this.tipo_prog)"> <i
        class="far fa-edit"></i></button>
            </td>
            <td>{{tra.id}}</td>
            <td>{{tra.nombre}}</td>
            <td>{{tra.descripcion}}</td>
            <td>{{this.dataprofesor.pro_nombres}} {{this.dataprofesor.pro_apellidos}}</td>
            <td>{{tra.fecha_inicio}}</td>
            <td>{{tra.fecha_fin}}</td>
            <td>
              <span tooltip="Descargar archivo" placement="top" [hide-delay]="0" class="m-1">
                <a href="{{this.pathImg+tra.ruta_arch}}" target="_blank">  <i class="fas fa-file text-warning m-1" ></i>  </a>
              </span>

              <span tooltip="Subir archivo" placement="top" [hide-delay]="0" class="m-1" *ngIf="this.tipo_edit!=1">
                <a  [routerLink]="['/CargarTrabajos/' + tra.id + '/' + this.user.usu_id]" >  <i class="fa-solid fa-upload text-success m-1"></i></a>
              </span>

              <span tooltip="Ver cargados por alumno" placement="top" [hide-delay]="0" class="m-1" *ngIf="this.tipo_edit==1">
                <a  [routerLink]="['/CargadosAlumnos/' + tra.id]" >  <i class="fa-solid fa-list text-success m-1"></i> </a>
              </span>
            </td>

          </tr>

        </tbody>
      </table>
    </ng-container>
  </div>
</div>
