.flex-center{
    display:flex;
    align-items:center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../assets/img/home/bg1.jpg');
    width:100%;
    height:800px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right:0px;
    border-radius:5px;
    
   
}

.textofuente{
    font-size:23px;
    color:white;
    font-family: 'Koulen';
}


.ingr{
    background-color:#ca4f15;
    border-radius: 45px;
    width: 90%;
    height: 50px;
}

.card{
    background-color: transparent !important;
    color: aliceblue;
     
}

.qsomos{
    display:flex;
    align-items:center;
   
}

.qsomos_img{
    padding-left: 50px ;
    padding-right: 30px;
}

.textsomos{
    padding-top: 150px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px;
    font-size:25px;
    font-family: 'Koulen';
}

.tit_baner{
    color:#ca4f15;
}


.bg-5{
   background: linear-gradient(135deg, rgb(227, 227, 227) 0%, rgb(93, 104, 116) 100%);
 }

.animated-shadow {
  color: #ffffff;
  font: normal 70px Varela Round, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2
}
/*Animación para rotar las sombras*/
@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 #da0641,
      3px -3px 0 #da0641,
      2px -2px 0 #da0641,
      1px -1px 0 #da0641,
      -4px 4px 0 #13f1fc,
      -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc,
      -1px 1px 0 #13f1fc
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 #13f1fc,
      -3px -3px 0 #13f1fc,
      -2px -2px 0 #13f1fc,
      -1px -1px 0 #13f1fc,
      4px 4px 0 #da0641,
      3px 3px 0 #da0641,
      2px 2px 0 #da0641,
      1px 1px 0 #da0641
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 #da0641,
      -3px 3px 0 #da0641,
      -2px 2px 0 #da0641,
      -1px 1px 0 #da0641,
      4px -4px 0 #13f1fc,
      3px -3px 0 #13f1fc,
      2px -2px 0 #13f1fc,
      1px -1px 0 #13f1fc
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 #13f1fc,
      3px 3px 0 #13f1fc,
      2px 2px 0 #13f1fc,
      1px 1px 0 #13f1fc,
      -4px -4px 0 #da0641,
      -3px -3px 0 #da0641,
      -2px -2px 0 #da0641,
      -1px -1px 0 #da0641
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 #da0641,
      3px -3px 0 #da0641,
      2px -2px 0 #da0641,
      1px -1px 0 #da0641,
      -4px 4px 0 #13f1fc,
      -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc,
      -1px 1px 0 #13f1fc
    ;
  }
}