<app-menu-home></app-menu-home>
<app-loading *ngIf="!load"></app-loading>


<div class="container_fluid">
    <div class="row flex-center">
        
        <div class="col">
           
            <div class="card animate__bounceInLeft animate__fadeOut" style="width: 36rem; margin-left: 140px;">
                <div class="container-fluid bg-black"></div>
                <div class="card-body">
                  <h2 class="card-title tit_baner">ACCEDE A VIRTUALSABANA A TRAVÉS DEL BOTÓN CONEXIÓN OFFICE 365</h2>
                  <p class="card-text textofuente">Institución de educación superior sujeta a inspección y vigilancia por el Ministerio de Educación Nacional. Copyright 2017. Universidad de La Sabana. Todos los derechos reservados</p>
                  <button type="button" class="btn btn-md ingr text-white"><i class="fa-solid fa-user-graduate"></i> INGRESA</button>
                </div>
              </div>
        </div>
        

      </div>
      
      <div class="row bg-dark text-danger">
        <div class="col-4 qsomos"><img src="../../../assets/img/home/qsomos.png" class="img-fluid qsomos_img" alt="" ></div>
        <div class="col-8 qsomos">
          <div class="textsomos">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, dolorem! Quo saepe dolor quod rerum corporis quos autem, cumque repudiandae id ratione similique praesentium quaerat tempore, quis atque, amet facere.</p>
          </div>
          </div>
      </div>

      <div class="row">

        <div class="col-6 bg-dark">
          <div class="textsomos">
            <div class="bg-5">
              <h1 class="animated-shadow">MISIÒN</h1>
        </div>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure debitis tenetur blanditiis nostrum! Incidunt, cupiditate. Sequi doloremque maiores accusamus maxime, ea quaerat blanditiis, qui tempore in illum molestias dolorum similique.</p>
          </div>
        </div>
        <div class="col-6">
          <p class="textsomos text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nesciunt, voluptatem dolorum odit labore perferendis libero odio placeat sint vero iure culpa laborum impedit amet quae velit ullam commodi. Sequi.</p>
        </div>
          
      </div>

  </div>


